<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.pandey.popcorn4">

    <dist:module dist:instant="true" />

    <!-- Permissions-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- features reference   -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".PopApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_popcorn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--For firebase messaging service-->
        <!--Set custom default icon. This is used when no icon is set for incoming notification messages.-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_popcorn" />

        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!--Defining your default notification channel id-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="@string/pop_corn_channel_name" />


        <!-- Activities -->
        <activity
            android:name=".moviedetails.MovieDetailsActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="app://"
                    android:host="www.popcorn.com"
                    android:path="/movieDetail"
                    />
            </intent-filter>

        </activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".customeviews.CustomActivity"

            />
        <activity android:name=".fvrtmovies.FvrtMovieActivity" />
        <activity android:name=".mediaplayer.MediaPlayerActivity" />

        <activity android:name=".deeplinks.DeeplinkActivity"
            android:theme="@style/Theme.AppCompat">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.popcorn.com"
                    android:scheme="http" />
                <data
                    android:host="www.popcorn.com"
                    android:scheme="https" />
            </intent-filter>

        </activity>

        <activity
            android:name=".camera.PhotoCaptureActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.GPSService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.androidbook.services.GPSService.SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".notifications.FBNotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>